 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 882px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("/images/selfie.jpeg");
  background-position: 50% 50%;
  margin: 142px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 2px 2px 0px rgba(255,255,255,0.75);
  margin: -599px 419px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  text-shadow: 0px 2px 6px rgba(255,255,255,1);
  margin: 111px 570px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 570px 60px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 470px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -499px;
    margin-right: 219px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -389px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 270px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -299px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 170px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -199px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1168px;
}

.u-section-2 .u-group-1 {
  min-height: 96px;
  width: 1036px;
  height: auto;
  margin: 23px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 12px 0 40px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 413px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-image-1 {
  width: 61px;
  height: 61px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 30px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 413px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2 .u-image-2 {
  width: 63px;
  height: 63px;
  margin: 15px auto 0 25px;
}

.u-section-2 .u-image-3 {
  width: 80px;
  height: 80px;
  margin: -72px 20px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 24px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 413px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-image-4 {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 1px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 413px;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-image-5 {
  width: 60px;
  height: 60px;
  margin: 26px auto 0 6px;
}

.u-section-2 .u-image-6 {
  width: 60px;
  height: 60px;
  margin: -60px 0 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: 24px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 413px;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-image-7 {
  width: 75px;
  height: 75px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 16px 0 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 342px;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-image-8 {
  width: 80px;
  height: 61px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  margin: 18px 0 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 342px;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px;
}

.u-section-2 .u-image-9 {
  width: 61px;
  height: 61px;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  margin: 18px 0 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 342px;
}

.u-section-2 .u-container-layout-9 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-image-10 {
  width: 60px;
  height: 60px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 0.875rem;
  margin: 19px 0 0;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 342px;
}

.u-section-2 .u-container-layout-10 {
  padding: 17px 20px;
}

.u-section-2 .u-image-11 {
  width: 55px;
  height: 55px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-12 {
  width: 62px;
  height: 62px;
  margin: -54px auto 0;
}

.u-section-2 .u-image-13 {
  width: 45px;
  height: 45px;
  margin: -52px 0 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 0.875rem;
  margin: 27px 0 0;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 342px;
}

.u-section-2 .u-container-layout-11 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-image-14 {
  width: 57px;
  height: 57px;
  margin: 15px auto 0 6px;
}

.u-section-2 .u-image-15 {
  width: 70px;
  height: 61px;
  margin: -51px 0 0 auto;
}

.u-section-2 .u-text-11 {
  font-size: 0.875rem;
  margin: 18px 0 0;
}

.u-section-2 .u-layout-cell-11 {
  min-height: 296px;
}

.u-section-2 .u-container-layout-12 {
  padding: 20px;
}

.u-section-2 .u-image-16 {
  width: 90px;
  height: 55px;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  font-size: 0.875rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-13 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-12 {
  min-height: 296px;
}

.u-section-2 .u-container-layout-13 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-layout-cell-13 {
  min-height: 296px;
}

.u-section-2 .u-container-layout-14 {
  padding: 20px;
}

.u-section-2 .u-layout-cell-14 {
  min-height: 296px;
}

.u-section-2 .u-container-layout-15 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-layout-cell-15 {
  min-height: 296px;
}

.u-section-2 .u-container-layout-16 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 20px 49px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: NaNpx;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: NaNpx;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -71px;
  }

  .u-section-2 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: NaNpx;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: NaNpx;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: NaNpx;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: NaNpx;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-text-7 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-layout-cell-7 {
    background-position: 50% 50%;
    min-height: NaNpx;
  }

  .u-section-2 .u-layout-cell-8 {
    background-position: 50% 50%;
    min-height: NaNpx;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-layout-cell-9 {
    background-position: 50% 50%;
    min-height: NaNpx;
  }

  .u-section-2 .u-image-12 {
    margin-top: -55px;
  }

  .u-section-2 .u-image-13 {
    margin-top: -53px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: NaNpx;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-layout-cell-11 {
    background-position: 50% 50%;
    min-height: NaNpx;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 225px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-layout-cell-13 {
    min-height: 225px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 225px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-layout-cell-15 {
    min-height: 225px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: NaNpx;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: NaNpx;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 862px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 60px 265px 0 307px;
}

.u-section-3 .u-text-2 {
  margin: 20px 235px 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 1100px;
  margin: 45px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 569px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-icon-1 {
  height: 171px;
  width: 171px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-3 .u-text-3 {
  width: 215px;
  margin: 16px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-icon-2 {
  height: 171px;
  width: 171px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-3 .u-text-4 {
  width: 215px;
  margin: 16px auto 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-icon-3 {
  height: 171px;
  width: 171px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  width: 215px;
  margin: 16px auto 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-icon-4 {
  height: 171px;
  width: 171px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-3 .u-text-6 {
  width: 215px;
  margin: 16px auto 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 165px;
    margin-left: 207px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 526px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1386px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 55px;
    margin-left: 97px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1405px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 1104px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 763px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-4 .u-group-1 {
  min-height: 545px;
  height: auto;
  background-image: none;
  margin: 40px 0 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-accordion-1 {
  width: 1100px;
  margin: 20px auto 0;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-2 {
  margin: 0 30px;
}

.u-section-4 .u-text-3 {
  margin: 6px auto 0 30px;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
}

.u-section-4 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-6 {
  margin: -128px auto 0 472px;
}

.u-section-4 .u-text-7 {
  margin: -128px 96px 26px auto;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
}

.u-section-4 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-accordion-link-4 {
  background-image: none;
}

.u-section-4 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-accordion-link-5 {
  background-image: none;
}

.u-section-4 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-5 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-text-11 {
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-12 {
  margin: -179px auto 0 368px;
}

.u-section-4 .u-text-13 {
  margin: -179px 0 0 713px;
}

.u-section-4 .u-accordion-link-6 {
  background-image: none;
}

.u-section-4 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-6 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-14 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-text-15 {
  margin: 30px 562px 0 0;
}

.u-section-4 .u-text-16 {
  margin: -205px 0 0 586px;
}

.u-section-4 .u-accordion-link-7 {
  background-image: none;
}

.u-section-4 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-7 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-text-17 {
  margin: 30px 30px 0;
}

.u-section-4 .u-text-18 {
  font-weight: 700;
  margin: 16px 846px 0 52px;
}

.u-section-4 .u-text-19 {
  font-weight: 700;
  margin: -51px 469px 0 411px;
}

.u-section-4 .u-text-20 {
  font-weight: 700;
  margin: -51px 19px 0 810px;
}

.u-section-4 .u-text-21 {
  margin: 7px 778px 0 30px;
}

.u-section-4 .u-text-22 {
  width: 355px;
  margin: -179px auto 0;
}

.u-section-4 .u-text-23 {
  margin: -154px 30px 0 778px;
}

.u-section-4 .u-accordion-link-8 {
  background-image: none;
}

.u-section-4 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-8 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px;
}

.u-section-4 .u-text-24 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-text-25 {
  margin: 13px 685px 0 0;
}

.u-section-4 .u-text-26 {
  margin: -229px 42px 25px auto;
}

.u-section-4 .u-accordion-link-9 {
  background-image: none;
}

.u-section-4 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-9 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px;
}

.u-section-4 .u-text-27 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-accordion-link-10 {
  background-image: none;
}

.u-section-4 .u-icon-10 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-10 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px;
}

.u-section-4 .u-text-28 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-accordion-link-11 {
  background-image: none;
}

.u-section-4 .u-icon-11 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-11 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-4 .u-container-layout-12 {
  padding: 30px;
}

.u-section-4 .u-text-29 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-4 .u-accordion-1 {
    width: 940px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 399px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 311px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 553px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 402px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 426px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 738px;
    margin-left: 0;
  }

  .u-section-4 .u-text-19 {
    margin-right: 389px;
    margin-left: 331px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 0;
    margin-left: 669px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 648px;
    margin-left: 0;
  }

  .u-section-4 .u-text-23 {
    margin-right: 0;
    margin-left: 648px;
  }

  .u-section-4 .u-text-25 {
    margin-right: 525px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-accordion-1 {
    width: 720px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 299px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 233px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 333px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 182px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 206px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 518px;
  }

  .u-section-4 .u-text-19 {
    margin-right: 279px;
    margin-left: 221px;
  }

  .u-section-4 .u-text-20 {
    margin-left: 449px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 428px;
  }

  .u-section-4 .u-text-23 {
    margin-left: 428px;
  }

  .u-section-4 .u-text-25 {
    margin-right: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-accordion-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 236px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 184px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 193px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 42px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 66px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 338px;
  }

  .u-section-4 .u-text-19 {
    margin-right: 189px;
    margin-left: 131px;
  }

  .u-section-4 .u-text-20 {
    margin-left: 269px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 248px;
  }

  .u-section-4 .u-text-23 {
    margin-left: 248px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-25 {
    margin-right: 165px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-accordion-1 {
    width: 340px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 145px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 113px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
  }

  .u-section-4 .u-text-15 {
    margin-right: 0;
  }

  .u-section-4 .u-text-16 {
    margin-left: 0;
  }

  .u-section-4 .u-text-18 {
    margin-right: 138px;
  }

  .u-section-4 .u-text-19 {
    margin-right: 89px;
    margin-left: 31px;
  }

  .u-section-4 .u-text-20 {
    margin-left: 69px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 48px;
  }

  .u-section-4 .u-text-22 {
    width: 340px;
  }

  .u-section-4 .u-text-23 {
    margin-left: 48px;
  }

  .u-section-4 .u-text-25 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 706px;
}

.u-section-5 .u-text-1 {
  width: 489px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 115px 0 179px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 385px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-5 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px -1px 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-decoration: underline !important;
  align-self: center;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 385px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 52px auto 0 56px;
}

.u-section-5 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px 55px 0 auto;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 82px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 385px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 19px;
}

.u-section-5 .u-icon-4 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-icon-5 {
  font-size: 1.3126em;
}

.u-section-5 .u-group-1 {
  min-height: 94px;
  height: auto;
  margin: 33px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-icon-6 {
  width: 40px;
  height: 40px;
  margin: 27px auto 0 167px;
}

.u-section-5 .u-icon-7 {
  width: 40px;
  height: 40px;
  margin: -40px 166px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-5 .u-text-2 {
    width: 628px;
    margin-left: 79px;
    margin-right: 15px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-5 .u-icon-6 {
    margin-left: 124px;
  }

  .u-section-5 .u-icon-7 {
    margin-right: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 38px;
  }

  .u-section-5 .u-icon-3 {
    margin-right: 38px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-icon-6 {
    margin-left: 77px;
  }

  .u-section-5 .u-icon-7 {
    margin-right: 77px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}