 .u-section-1 {
  background-image: url("/images/yyy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 633px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 52px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 25px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: Barlow;
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  margin: 96px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 78px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 72px auto 0 0;
  padding: 9px 27px 11px 26px;
}

.u-section-1 .u-image-1 {
  min-height: 581px;
  background-image: url("/images/ffffff.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 21px 0 21px 40px;
}

.u-section-1 .u-text-3 {
  font-size: 0.625rem;
  margin: 472px 105px 0 380px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 400;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-right: 50px;
    margin-left: 325px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 367px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-image-1 {
    min-height: 470px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    margin-left: 64px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 821px;
}

.u-section-2 .u-group-1 {
  width: 1014px;
  min-height: 799px;
  height: auto;
  margin: 36px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-2 .u-image-1 {
  width: 493px;
  height: 410px;
  object-position: 95.67% 50%;
  background-position: 95.67% 50%;
  margin: 359px -11px 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 52.8px;
  letter-spacing: normal;
  font-family: Roboto, sans-serif;
  margin: -726px 60px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 56px;
  height: 56px;
  margin: 440px auto 0 121px;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -443px 371px 0 0;
}

.u-section-2 .u-image-2 {
  width: 342px;
  height: 342px;
  margin: -350px 11px 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 56px;
  height: 56px;
  margin: 106px auto 0 22px;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.625rem;
  margin: 122px 11px 0 857px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 358px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -725px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -442px;
    margin-right: 297px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -351px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 794px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 77px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 574px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    min-height: 830px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 390px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -757px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 472px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -474px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 394px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-2 .u-group-1 {
    min-height: 910px;
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-image-1 {
    height: 283px;
    margin-top: 512px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -780px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 727px;
    margin-right: 90px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: -627px;
  }

  .u-section-2 .u-image-2 {
    width: 208px;
    height: 208px;
    margin-top: -540px;
    margin-right: -11px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 571px;
    margin-left: 93px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -99px;
    margin-left: 194px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1250px;
}

.u-section-3 .u-image-1 {
  width: 648px;
  min-height: 969px;
  background-image: url("/images/a7d25ea5-f10e-d3df-2733-55a779ff3988.png");
  background-position: 50% 50%;
  margin: 138px 116px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 959px;
  height: 723px;
  margin: -901px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 0.625rem;
  margin: 3px 625px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -821px 487px 0 13px;
}

.u-section-3 .u-group-2 {
  width: 1054px;
  background-image: none;
  min-height: 935px;
  height: auto;
  margin: 69px -20px 40px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 26px 0;
}

.u-section-3 .u-icon-1 {
  width: 61px;
  height: 63px;
  margin: 8px auto 0 93px;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  width: 71px;
  height: 71px;
  margin: -71px auto 0 311px;
  padding: 0;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -71px auto 0 402px;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -60px 193px 0 auto;
}

.u-section-3 .u-icon-5 {
  width: 63px;
  height: 63px;
  margin: -60px 385px 0 auto;
  padding: 0;
}

.u-section-3 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: -68px 109px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  margin: 27px 813px 0 29px;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  margin: -179px 561px 0 284px;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  margin: -201px 313px 0 533px;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  margin: -179px 72px 0 770px;
}

.u-section-3 .u-icon-7 {
  width: 105px;
  height: 64px;
  margin: 22px 364px 0 auto;
  padding: 0;
}

.u-section-3 .u-icon-8 {
  width: 100px;
  height: 64px;
  margin: -59px auto 0 335px;
  padding: 0;
}

.u-section-3 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: -69px auto 0 100px;
}

.u-section-3 .u-icon-10 {
  width: 64px;
  height: 64px;
  margin: -59px 147px 0 auto;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  margin: 0 109px 0 806px;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  margin: -157px 341px 0 561px;
}

.u-section-3 .u-text-9 {
  font-size: 0.875rem;
  margin: -67px 813px 0 30px;
}

.u-section-3 .u-text-10 {
  font-size: 0.875rem;
  margin: -201px 570px 0 292px;
}

.u-section-3 .u-text-11 {
  font-size: 0.875rem;
  margin: -100px 317px 0 569px;
}

.u-section-3 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: 71px auto 0 297px;
}

.u-section-3 .u-icon-12 {
  width: 64px;
  height: 64px;
  margin: -55px auto 0 356px;
}

.u-section-3 .u-icon-13 {
  width: 64px;
  height: 64px;
  margin: -73px auto 0 104px;
}

.u-section-3 .u-icon-14 {
  width: 64px;
  height: 64px;
  margin: -52px 406px 0 auto;
}

.u-section-3 .u-icon-15 {
  width: 64px;
  height: 64px;
  margin: -64px 138px 0 auto;
}

.u-section-3 .u-icon-16 {
  width: 64px;
  height: 58px;
  margin: -63px 326px 0 auto;
}

.u-section-3 .u-icon-17 {
  width: 46px;
  height: 46px;
  margin: -50px auto 0 421px;
  padding: 0;
}

.u-section-3 .u-text-12 {
  font-size: 0.875rem;
  margin: 25px 101px 0 815px;
}

.u-section-3 .u-text-13 {
  font-size: 0.875rem;
  margin: -65px 835px 0 30px;
}

.u-section-3 .u-text-14 {
  font-size: 0.875rem;
  margin: -134px 546px 0 262px;
}

.u-section-3 .u-text-15 {
  font-size: 0.875rem;
  margin: -152px 296px 0 569px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin: 5px 122px 0 auto;
  padding: 9px 12px 11px 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2988px;
  }

  .u-section-3 .u-image-2 {
    width: 940px;
    height: 709px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 425px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 300px;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -163px;
    margin-left: 359px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 32px;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 343px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 26px;
    margin-right: 729px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 505px;
    margin-left: 227px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -189px;
    margin-right: 256px;
    margin-left: 476px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 15px;
    margin-left: 713px;
  }

  .u-section-3 .u-icon-7 {
    margin-right: 325px;
  }

  .u-section-3 .u-icon-8 {
    margin-left: 298px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 52px;
    margin-left: 750px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 284px;
    margin-left: 504px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 729px;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 513px;
    margin-left: 235px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 260px;
    margin-left: 512px;
  }

  .u-section-3 .u-icon-11 {
    margin-top: 0;
  }

  .u-section-3 .u-icon-12 {
    margin-left: 318px;
  }

  .u-section-3 .u-icon-13 {
    margin-top: -1px;
  }

  .u-section-3 .u-icon-14 {
    margin-top: -160px;
    margin-right: 362px;
  }

  .u-section-3 .u-icon-15 {
    margin-top: -693px;
  }

  .u-section-3 .u-icon-16 {
    margin-top: -82px;
    margin-right: 290px;
  }

  .u-section-3 .u-icon-17 {
    margin-top: 612px;
    margin-left: 375px;
  }

  .u-section-3 .u-text-12 {
    margin-top: -625px;
    margin-right: 71px;
    margin-left: 758px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 25px;
    margin-right: 283px;
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    margin-top: 20px;
    margin-right: 489px;
    margin-left: 205px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 239px;
    margin-left: 512px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-right: 72px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 45px;
  }

  .u-section-3 .u-image-2 {
    width: 720px;
    height: 543px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 205px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 80px;
  }

  .u-section-3 .u-group-2 {
    width: 720px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 238px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 275px;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 263px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 248px;
    margin-right: 509px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -401px;
    margin-right: 395px;
    margin-left: 117px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 33px;
    margin-right: 146px;
    margin-left: 366px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 508px;
  }

  .u-section-3 .u-icon-7 {
    margin-right: 249px;
  }

  .u-section-3 .u-icon-8 {
    margin-left: 228px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 582px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 174px;
    margin-left: 394px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 403px;
    margin-left: 125px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 150px;
    margin-left: 402px;
  }

  .u-section-3 .u-icon-11 {
    margin-left: 227px;
  }

  .u-section-3 .u-icon-12 {
    margin-left: 244px;
  }

  .u-section-3 .u-icon-14 {
    margin-right: 277px;
  }

  .u-section-3 .u-icon-16 {
    margin-right: 222px;
  }

  .u-section-3 .u-icon-17 {
    margin-left: 287px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 582px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 212px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 379px;
    margin-left: 95px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 129px;
    margin-left: 402px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 407px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 25px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 179px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -141px;
    margin-left: 206px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 10px;
    margin-right: 145px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 20px;
    margin-right: 197px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 329px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 305px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 56px;
    margin-left: 276px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 328px;
  }

  .u-section-3 .u-icon-7 {
    margin-right: 187px;
  }

  .u-section-3 .u-icon-8 {
    margin-top: 20px;
    margin-left: 171px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 402px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 84px;
    margin-left: 304px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -66px;
    margin-right: 329px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 313px;
    margin-left: 35px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 60px;
    margin-left: 312px;
  }

  .u-section-3 .u-icon-11 {
    margin-top: 22px;
    margin-left: 170px;
  }

  .u-section-3 .u-icon-12 {
    margin-left: 183px;
  }

  .u-section-3 .u-icon-13 {
    margin-top: -24px;
  }

  .u-section-3 .u-icon-14 {
    margin-top: -138px;
    margin-right: 208px;
  }

  .u-section-3 .u-icon-16 {
    margin-top: 20px;
    margin-right: 167px;
  }

  .u-section-3 .u-icon-17 {
    margin-left: 215px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 402px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 2px;
    margin-right: 167px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 5px;
    margin-right: 289px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 39px;
    margin-left: 312px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 340px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 256px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 29px;
    margin-left: 132px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 161px;
    margin-left: 77px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -71px;
    margin-right: 86px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 451px;
    margin-right: auto;
    margin-left: 101px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: -338px;
    margin-right: auto;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 210px;
    margin-right: 84px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -727px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 100px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 112px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 113px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-icon-7 {
    margin-top: 516px;
    margin-right: auto;
  }

  .u-section-3 .u-icon-8 {
    margin-top: -306px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-9 {
    margin-top: -318px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-10 {
    margin-top: 668px;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 15px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -314px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -541px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 113px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 171px;
    margin-right: 89px;
    margin-left: 84px;
  }

  .u-section-3 .u-icon-11 {
    margin-top: 438px;
    margin-left: 73px;
  }

  .u-section-3 .u-icon-12 {
    margin-top: -56px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-13 {
    margin-top: -290px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-14 {
    margin-top: 443px;
    margin-right: auto;
    margin-left: 101px;
  }

  .u-section-3 .u-icon-15 {
    margin-top: 118px;
    margin-right: auto;
    margin-left: 136px;
  }

  .u-section-3 .u-icon-16 {
    margin-top: -246px;
    margin-right: 95px;
  }

  .u-section-3 .u-icon-17 {
    margin-top: -330px;
    margin-right: 79px;
    margin-left: auto;
  }

  .u-section-3 .u-text-12 {
    width: 209px;
    margin-top: 483px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: -722px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-top: 139px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-top: 141px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 166px;
    margin-right: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 862px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 60px 265px 0 307px;
}

.u-section-4 .u-text-2 {
  margin: 20px 235px 0;
}

.u-section-4 .u-image-1 {
  width: 549px;
  height: 526px;
  object-position: 43.75% 50%;
  margin: 45px auto 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 570px;
  margin: -526px 0 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 526px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-icon-1 {
  height: 171px;
  width: 171px;
  margin: 16px auto 0;
  padding: 0;
}

.u-section-4 .u-text-3 {
  width: 215px;
  margin: 16px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-icon-2 {
  height: 171px;
  width: 171px;
  margin: 16px auto 0;
  padding: 0;
}

.u-section-4 .u-text-4 {
  width: 215px;
  margin: 16px auto 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-icon-3 {
  height: 171px;
  width: 171px;
  margin: 16px auto 0;
  padding: 0;
}

.u-section-4 .u-text-5 {
  width: 215px;
  margin: 16px auto 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-icon-4 {
  height: 171px;
  width: 171px;
  margin: 16px auto 0;
  padding: 0;
}

.u-section-4 .u-text-6 {
  width: 215px;
  margin: 16px auto 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.625rem;
  margin: -17px 1018px 60px -24px;
}

.u-section-4 .u-btn-5 {
  border-style: solid;
  font-size: 0.625rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 207px;
    margin-right: 165px;
    width: 527px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-4 .u-image-1 {
    width: 450px;
    object-position: 41.45% 50%;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    width: 470px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 27px;
    margin-right: 918px;
    margin-bottom: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1386px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 97px;
    margin-right: 55px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-list-1 {
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-7 {
    margin-top: 45px;
    margin-right: 808px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 718px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1405px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 223px;
    width: 249px;
    margin-top: 0;
    margin-right: auto;
    margin-left: -39px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -106px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 1104px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -1232px;
    margin-right: 217px;
    margin-left: -108px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 814px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1104px;
  margin: 60px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 744px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-image-1 {
  height: 423px;
  width: 587px;
  margin: 236px auto 0 -35px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -659px -16px 0 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 27px 421px 0 auto;
}

.u-section-5 .u-list-1 {
  width: 350px;
  margin: -36px auto 0 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 166px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-5 .u-text-3 {
  margin: 0 45px 0 6px;
}

.u-section-5 .u-text-4 {
  margin: -127px 247px 0 auto;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 30px 196px 0 auto;
}

.u-section-5 .u-text-6 {
  margin: 6px 32px 0 522px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 35px 467px 0 auto;
}

.u-section-5 .u-text-8 {
  margin: 3px 24px 0 522px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 21px 470px 0 auto;
}

.u-section-5 .u-text-10 {
  margin: 3px 115px 0 522px;
}

.u-section-5 .u-text-11 {
  font-size: 0.625rem;
  margin: 82px 736px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-text-12 {
  font-size: 2.25rem;
  font-weight: 700;
  width: auto;
  margin: -6358px 50px 6319px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1045px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 483px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -906px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 82px;
    margin-right: 359px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -125px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -77px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 66px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -34px;
    margin-right: 123px;
    margin-left: 391px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 398px;
  }

  .u-section-5 .u-text-8 {
    margin-top: -254px;
    margin-right: 123px;
    margin-left: 391px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 562px;
    margin-right: 400px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 4px;
    margin-right: 114px;
    margin-left: 440px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 572px;
  }

  .u-section-5 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1041px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1952px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 477px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -900px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 989px;
    margin-right: 275px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -993px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-5 .u-text-4 {
    margin-top: 267px;
    margin-right: 189px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 92px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -370px;
    margin-left: 171px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 305px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 171px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 899px;
    margin-right: 306px;
  }

  .u-section-5 .u-text-10 {
    margin-top: -21px;
    margin-left: 253px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 352px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1160px;
  }

  .u-section-5 .u-image-1 {
    height: 389px;
    width: 540px;
    margin-top: 548px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: -937px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 128px;
    margin-right: 206px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -39px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 216px;
    margin-right: 142px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -312px;
    margin-right: 147px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 59px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 229px;
  }

  .u-section-5 .u-text-8 {
    margin-top: -228px;
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    margin-top: 410px;
    margin-right: 230px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 45px;
    margin-left: 73px;
  }

  .u-section-5 .u-text-11 {
    margin-top: 16px;
    margin-right: 172px;
  }

  .u-section-5 .u-text-12 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1129px;
  }

  .u-section-5 .u-image-1 {
    height: 245px;
    width: 340px;
    margin-top: 557px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -802px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 255px;
    margin-right: 130px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-top: -108px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 40px;
    margin-left: 1px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 292px;
    margin-right: 89px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -338px;
    margin-right: 93px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 40px;
    margin-right: 77px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 144px;
  }

  .u-section-5 .u-text-8 {
    margin-top: -305px;
    margin-right: 77px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 345px;
    margin-right: 145px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 52px;
    margin-right: 72px;
    margin-left: 0;
  }

  .u-section-5 .u-text-11 {
    margin-right: 0;
  }
} .u-section-6 {
  min-height: 794px;
}

.u-section-6 .u-group-1 {
  width: 977px;
  min-height: 181px;
  height: auto;
  margin: 0 calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  line-height: 52.8px;
  letter-spacing: normal;
  font-family: Roboto, sans-serif;
  margin: 53px 0 0 60px;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0 79px;
}

.u-section-6 .u-image-1 {
  width: 649px;
  height: 550px;
  object-position: 95.67% 50%;
  background-position: 95.67% 50%;
  margin: 29px 0 0 auto;
}

.u-section-6 .u-text-3 {
  font-size: 0.625rem;
  margin: -60px calc(((100% - 1140px) / 2) + 29px) 0 calc(((100% - 1140px) / 2) + 965px);
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-6 .u-accordion-1 {
  width: 1140px;
  margin: -502px auto 60px;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-text-4 {
  margin: 0 30px;
}

.u-section-6 .u-text-5 {
  margin: 6px auto 0 30px;
}

.u-section-6 .u-accordion-link-2 {
  background-image: none;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-text-7 {
  margin: 30px 0 0;
}

.u-section-6 .u-text-8 {
  margin: -128px auto 0 472px;
}

.u-section-6 .u-text-9 {
  margin: -128px 96px 26px auto;
}

.u-section-6 .u-accordion-link-3 {
  background-image: none;
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-accordion-link-4 {
  background-image: none;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-4 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-11 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-accordion-link-5 {
  background-image: none;
}

.u-section-6 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-5 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-12 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-text-13 {
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-14 {
  margin: -179px auto 0 368px;
}

.u-section-6 .u-text-15 {
  margin: -179px 0 0 713px;
}

.u-section-6 .u-accordion-link-6 {
  background-image: none;
}

.u-section-6 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-6 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-text-16 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-text-17 {
  margin: 30px 562px 0 0;
}

.u-section-6 .u-text-18 {
  margin: -205px 0 0 586px;
}

.u-section-6 .u-accordion-link-7 {
  background-image: none;
}

.u-section-6 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-7 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-6 .u-container-layout-8 {
  padding: 0;
}

.u-section-6 .u-text-19 {
  margin: 30px 30px 0;
}

.u-section-6 .u-text-20 {
  font-weight: 700;
  margin: 16px 846px 0 52px;
}

.u-section-6 .u-text-21 {
  font-weight: 700;
  margin: -51px 469px 0 411px;
}

.u-section-6 .u-text-22 {
  font-weight: 700;
  margin: -51px 19px 0 810px;
}

.u-section-6 .u-text-23 {
  margin: 7px 778px 0 30px;
}

.u-section-6 .u-text-24 {
  width: 355px;
  margin: -179px auto 0;
}

.u-section-6 .u-text-25 {
  margin: -154px 30px 0 778px;
}

.u-section-6 .u-accordion-link-8 {
  background-image: none;
}

.u-section-6 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-8 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-6 .u-container-layout-9 {
  padding: 30px;
}

.u-section-6 .u-text-26 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-text-27 {
  margin: 13px 685px 0 0;
}

.u-section-6 .u-text-28 {
  margin: -229px 42px 25px auto;
}

.u-section-6 .u-accordion-link-9 {
  background-image: none;
}

.u-section-6 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-9 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-6 .u-container-layout-10 {
  padding: 30px;
}

.u-section-6 .u-text-29 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-accordion-link-10 {
  background-image: none;
}

.u-section-6 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-10 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-6 .u-container-layout-11 {
  padding: 30px;
}

.u-section-6 .u-text-30 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-accordion-link-11 {
  background-image: none;
}

.u-section-6 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-11 {
  min-height: 365px;
  height: auto;
  background-image: none;
}

.u-section-6 .u-container-layout-12 {
  padding: 30px;
}

.u-section-6 .u-text-31 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 940px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: 23px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 42px;
  }

  .u-section-6 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 100px);
    margin-left: calc(((100% - 1140px) / 2) + 894px);
  }

  .u-section-6 .u-accordion-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-6 .u-text-8 {
    margin-left: 475px;
  }

  .u-section-6 .u-text-18 {
    margin-right: 103px;
  }

  .u-section-6 .u-text-20 {
    margin-top: 150px;
    margin-left: 36px;
  }

  .u-section-6 .u-text-21 {
    margin-top: 4px;
    margin-right: 280px;
  }

  .u-section-6 .u-text-22 {
    margin-top: -194px;
  }

  .u-section-6 .u-text-23 {
    margin-top: 160px;
  }

  .u-section-6 .u-text-24 {
    margin-right: 263px;
  }

  .u-section-6 .u-text-25 {
    margin-right: -60px;
    margin-left: 578px;
  }

  .u-section-6 .u-text-27 {
    margin-right: 485px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 784px);
  }

  .u-section-6 .u-accordion-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-text-8 {
    margin-left: 289px;
  }

  .u-section-6 .u-text-14 {
    margin-left: 225px;
  }

  .u-section-6 .u-text-15 {
    margin-left: 293px;
  }

  .u-section-6 .u-text-17 {
    margin-right: 142px;
  }

  .u-section-6 .u-text-18 {
    margin-left: 166px;
  }

  .u-section-6 .u-text-20 {
    margin-right: 478px;
  }

  .u-section-6 .u-text-21 {
    margin-right: 214px;
    margin-left: 201px;
  }

  .u-section-6 .u-text-22 {
    margin-right: 0;
    margin-left: 409px;
  }

  .u-section-6 .u-text-23 {
    margin-right: 388px;
    margin-left: 0;
  }

  .u-section-6 .u-text-24 {
    margin-right: 201px;
  }

  .u-section-6 .u-text-25 {
    margin-left: 358px;
  }

  .u-section-6 .u-text-27 {
    margin-right: 265px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 702px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 458px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-text-3 {
    margin-top: 32px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 694px);
  }

  .u-section-6 .u-accordion-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 228px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-14 {
    margin-left: 177px;
  }

  .u-section-6 .u-text-15 {
    margin-left: 153px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-17 {
    margin-right: 2px;
  }

  .u-section-6 .u-text-18 {
    margin-left: 26px;
  }

  .u-section-6 .u-text-20 {
    margin-top: 175px;
    margin-right: 298px;
  }

  .u-section-6 .u-text-21 {
    margin-top: -22px;
    margin-right: 161px;
    margin-left: 111px;
  }

  .u-section-6 .u-text-22 {
    margin-left: 229px;
  }

  .u-section-6 .u-text-23 {
    margin-right: 208px;
  }

  .u-section-6 .u-text-24 {
    margin-right: 151px;
  }

  .u-section-6 .u-text-25 {
    margin-left: 178px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-27 {
    margin-right: 125px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 532px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 288px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    margin-left: calc(((100% - 1140px) / 2) + 594px);
  }

  .u-section-6 .u-accordion-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-text-8 {
    margin-left: 140px;
  }

  .u-section-6 .u-text-14 {
    margin-left: 109px;
  }

  .u-section-6 .u-text-15 {
    margin-left: 0;
  }

  .u-section-6 .u-text-17 {
    margin-right: 0;
  }

  .u-section-6 .u-text-18 {
    margin-left: 0;
  }

  .u-section-6 .u-text-20 {
    margin-top: 201px;
    margin-right: 98px;
  }

  .u-section-6 .u-text-21 {
    margin-top: -47px;
    margin-right: 101px;
    margin-left: 11px;
  }

  .u-section-6 .u-text-22 {
    margin-top: -220px;
    margin-left: 29px;
  }

  .u-section-6 .u-text-23 {
    margin-top: 185px;
    margin-right: 8px;
  }

  .u-section-6 .u-text-24 {
    width: 340px;
    margin-right: 95px;
  }

  .u-section-6 .u-text-25 {
    margin-top: -103px;
    margin-left: 0;
  }

  .u-section-6 .u-text-27 {
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1120px;
}

.u-section-7 .u-shape-1 {
  background-image: none;
  height: 567px;
  width: 784px;
  margin: 186px 0 0 auto;
}

.u-section-7 .u-image-1 {
  width: 560px;
  min-height: 615px;
  background-image: url("/images/a7d25ea5-f10e-d3df-2733-55a779ff3988.png");
  background-position: 50% 50%;
  margin: -318px auto 0 43px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  height: 627px;
  width: 856px;
  margin: -990px 72px 0 auto;
}

.u-section-7 .u-group-2 {
  width: 536px;
  min-height: 480px;
  margin: -197px auto 60px 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 40px 60px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  font-family: Barlow;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 7px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    width: 531px;
    min-height: 614px;
    margin-left: 72px;
  }

  .u-section-7 .u-image-2 {
    height: 559px;
    width: 727px;
    margin-top: -989px;
  }

  .u-section-7 .u-group-2 {
    margin-top: -129px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-7 .u-shape-1 {
    height: 479px;
    width: 582px;
    margin-top: 193px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -237px;
  }

  .u-section-7 .u-image-2 {
    height: 530px;
    width: 606px;
    margin-right: 48px;
  }

  .u-section-7 .u-group-2 {
    margin-top: -100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-7 .u-shape-1 {
    height: 378px;
    width: 454px;
    margin-top: 60px;
  }

  .u-section-7 .u-image-1 {
    width: 505px;
    min-height: 545px;
    margin-top: -136px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 455px;
    width: 476px;
    margin-top: -980px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-7 .u-group-2 {
    width: 480px;
    min-height: 413px;
    margin-top: 35px;
    margin-bottom: -56px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-7 .u-shape-1 {
    height: 257px;
    width: 305px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-7 .u-image-1 {
    width: 305px;
    min-height: 426px;
    margin-top: -15px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-7 .u-image-2 {
    height: 310px;
    width: 305px;
    margin-top: -861px;
    margin-left: 0;
  }

  .u-section-7 .u-group-2 {
    width: 305px;
    min-height: 446px;
    margin-top: 50px;
    margin-bottom: -88px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 475px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 355px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  background-image: none;
  font-size: 3rem;
}

.u-section-8 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 355px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: solid;
  background-image: none;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 212px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 615px;
}

.u-section-9 .u-text-1 {
  width: 489px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  width: 628px;
  margin: 20px auto 0;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1140px;
  margin: 44px auto 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 322px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-9 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px -1px 0;
}

.u-section-9 .u-text-4 {
  margin: 20px -1px 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 322px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-9 .u-icon-2 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px -1px 0;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-decoration: underline !important;
  align-self: center;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-9 .u-btn-2 {
  border-style: none;
  background-image: none;
  text-decoration: underline !important;
  margin: 0 auto;
  padding: 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 322px;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-9 .u-icon-3 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-9 .u-text-6 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px -1px 0;
}

.u-section-9 .u-text-7 {
  margin: 20px -1px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 266px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}